In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Import csv files
schools_complete_csv = "Resources/schools_complete.csv"
students_complete_csv = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
schools_df = pd.read_csv(schools_complete_csv)
students_df = pd.read_csv(students_complete_csv)

In [4]:
# Look at the school data
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
# Look at the student data
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])

In [7]:
# Look at the data
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# Check for empty cells
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

In [9]:
# Calculate the total number of schools
total_schools = schools_df['school_name'].count()
total_schools

15

In [10]:
# Check total using merged dataframe
total_schools_merge = school_data_complete['school_name'].count()
total_schools_merge

39170

In [11]:
# Check total number of schools using students
total_schools_student = students_df['school_name'].count()
total_schools_student

39170

In [12]:
# Calculate total number of students. Confirms count of each school is not unique
total_students = students_df['student_name'].count()
total_students

39170

In [13]:
# Calculate the total budget
total_budget = schools_df['budget'].sum()
total_budget

24649428

In [14]:
# Calculate the average math score
avg_math_score = (school_data_complete['math_score'].sum()) / total_students
avg_math_score

78.98537145774827

In [15]:
# Calculate the average reading score
avg_reading_score = (school_data_complete['reading_score'].sum()) / total_students
avg_reading_score

81.87784018381414