In [2]:
# Import dependencies
import pandas as pd
import numpy as np

In [3]:
# Import csv files
schools_complete_csv = "Resources/schools_complete.csv"
students_complete_csv = "Resources/students_complete.csv"

In [4]:
# Read School and Student Data File and store into Pandas DataFrames
schools_df = pd.read_csv(schools_complete_csv)
students_df = pd.read_csv(students_complete_csv)

In [5]:
# Look at the school data
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
# Look at the student data
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])

In [8]:
# Look at the data
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
# Check for empty cells
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

In [10]:
# Calculate the total number of schools
total_schools = schools_df['school_name'].count()
total_schools

15

In [11]:
# Check total using merged dataframe
total_schools_merge = school_data_complete['school_name'].count()
total_schools_merge

39170

In [12]:
# Check total number of schools using students
total_schools_student = students_df['school_name'].count()
total_schools_student

39170

In [13]:
# Calculate total number of students. Confirms count of each school is not unique
total_students = students_df['student_name'].count()
total_students

39170

In [14]:
# Calculate the total budget
total_budget = schools_df['budget'].sum()
total_budget

24649428

In [15]:
# Calculate the average math score
avg_math_score = (school_data_complete['math_score'].sum()) / total_students
avg_math_score

78.98537145774827

In [16]:
# Calculate the average reading score
avg_reading_score = (school_data_complete['reading_score'].sum()) / total_students
avg_reading_score

81.87784018381414

In [17]:
# Calculate the percentage of students with a passing math score (70 or greater)
students_df['passing_math'] = np.where(students_df['math_score'] >= 70, 'passing' , 'failing')
print(students_df.head())

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score passing_math
0             66          79      passing
1             94          61      failing
2             90          60      failing
3             67          58      failing
4             97          84      passing

In [18]:
# Count number of students passing math
num_passing_math = students_df['passing_math'].value_counts()
print(num_passing_math)

passing    29370
failing     9800
Name: passing_math, dtype: int64

In [19]:
# Calculate percentage of students passing math
per_passing_math = (num_passing_math[0] / total_students)*100
print(per_passing_math)

74.9808526933878

In [20]:
# Calculate the percentage of students with a passing reading score (70 or greater)
students_df['passing_reading'] = np.where(students_df['reading_score'] >= 70, 'passing' , 'failing')
print(students_df.head())

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score passing_math passing_reading
0             66          79      passing         failing
1             94          61      failing         passing
2             90          60      failing         passing
3             67          58      failing         failing
4             97          84      passing         passing

In [21]:
# Count number of students passing reading
num_passing_reading = students_df['passing_reading'].value_counts()
print(num_passing_reading)

passing    33610
failing     5560
Name: passing_reading, dtype: int64

In [22]:
# Calculate percentage of students passing reading
per_passing_reading = (num_passing_reading[0] / total_students)*100
print(per_passing_reading)

85.80546336482001

In [23]:
# Calculating overall passing rate
overall_passing_rate = ((per_passing_math + per_passing_reading)/2)
overall_passing_rate

80.39315802910392

In [24]:
# Create data frame to hold the results
district_summary_df = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [avg_math_score],
    'Average Reading Score': [avg_reading_score],
    '% Passing Math': [per_passing_math],
    '% Passing Reading': [per_passing_reading],
    '% Passing Rate': [overall_passing_rate]
})

In [25]:
# Create a summary table with clean formatting
organized_summary_df = district_summary_df[['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', \
             '% Passing Math', '% Passing Reading', '% Passing Rate']]

organized_summary_df['Total Budget'] = organized_summary_df['Total Budget'].map('${:,}'.format)
organized_summary_df['Total Students'] = organized_summary_df['Total Students'].map('{:,}'.format)
organized_summary_df['% Passing Math'] = organized_summary_df['% Passing Math'].map('{:.2f}%'.format)
organized_summary_df['% Passing Reading'] = organized_summary_df['% Passing Reading'].map('{:.2f}%'.format)
organized_summary_df['% Passing Rate'] = organized_summary_df['% Passing Rate'].map('{:.2f}%'.format)
organized_summary_df['Average Math Score'] = organized_summary_df['Average Math Score'].map('{:,.2f}'.format)
organized_summary_df['Average Reading Score'] = organized_summary_df['Average Reading Score'].map('{:,.2f}'.format)

organized_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,80.39%